{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- ##### Hero Area Start #####  class="welcome-slides owl-carousel" -->
  <div class="hero-area">
    <div >
{% csrf_token %}

      <!-- Single Welcome Slides -->
      <div class="single-welcome-slides bg-img bg-overlay jarallax"  style="background-image:url({% static 'home/img/bg-img/banner.jpg' %});">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-lg-10">
              <div class="welcome-content">
                <a href="#" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="0ms">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Single Welcome Slies-->
    </div>
  </div>
  <!-- ##### Hero Area End ##### -->

     <!-- ##### Famie Benefits Area Start ##### -->
  <section class="famie-benefits-area section-padding-100-0 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="benefits-thumbnail mb-50">
            <img src="{{ pics.photo_1.url }}" alt="" style="height: 350px;width:1500px;" >
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
            <img src="{{ pics.photo_2.url }}" alt="" style="width: 70px;height: 70px;">
            <h5>{{ pics.description2 }}</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="300ms">
            <img src="{{ pics.photo_3.url }}" alt="" style="width: 70px;height: 70px;">
            <h5>{{ pics.description3 }}</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="500ms">
            <img src="{{ pics.photo_4.url }}" alt="" style="width: 70px;height: 70px;">
            <h5>{{ pics.description4 }}</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="700ms">
            <img src="{{ pics.photo_5.url }}" alt="" style="width: 70px;height: 70px;">
            <h5>{{ pics.description5 }}</h5>
          </div>
        </div>

        <!-- Single Benefits Area -->
        <div class="col-12 col-sm-4 col-lg">
          <div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="900ms">
            <img src="{{ pics.photo_6.url }}" alt="" style="width: 70px;height: 70px;">
            <h5>{{ pics.description6 }}</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Famie Benefits Area End ##### -->
{% endblock %}