{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
     <!-- ##### News Details Area Start ##### -->
  <section class="news-details-area section-padding-0-100">
  <form action="{% url 'home:customer_save' %}" method="post">
  {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- News Details Content -->
          <div class="news-details-content">
            <h6>Post on <a href="#" class="post-date">18 Aug 2018</a> / <a href="#" class="post-author">Peter Crough</a></h6>
            <h2 class="post-title">{{ products.name }}</h2>
            <h5>{{ products.std_cert }} , {{ products.made_in }}</h5>
            <p>{{ products.description }}</p>
            <input type="hidden" id="pid" name="pid" value="{{ products.id }}">
            <div class="row">
              <div class="col-lg-6">
                <p>Proin accumsan laoreet donald, a pretiumas dolor congue facilisis. Morbi eget convallis nisi. Sedoni blandit neque eu leo fringilla semper. Donec sed arcu ut arcu sagittis ornare acdat ipsum. Fusces
                  ut phareto augue, in placerat arcu. Utat erat sit mauris et turpis non dictum eleifend elit.</p>
                <p>Etiam faucibus vestibulum orci at euismod. Sedo sollicitudin justo esteran nibh egestas maximus. Nullam rutrum dolor velit, act accumsan denim commodo non.</p>
              </div>
              <div class="col-lg-6">
                <img class="w-100 mb-30" src="{{ products.photo_1.url }}" alt="" style="width: 300px;height: 300px">
              </div>
                <div class="col-lg-6"></div>
                <div class="col-lg-3">
{#                    <blockquote class="famie-blockquote d-flex">#}
{#                        <div class="quote-text">#}
{#                        <h5>Available Units</h5>#}
{#                        <span>Suzanne Somers</span>#}
{#                      </div>#}
                        <div>
                        {% if photo2_url is not None %}
                            <div>
                                <img src="{{ photo2_url }}" alt="" style="height: 100px;width: 150px;">
                                <span>{{ products.description_2 }}</span>
                            </div>
                            {% endif %}
                      </div> &nbsp; &nbsp;
                        <div>
                            {% if photo3_url is not None %}
                                <div>
                                    <img src="{{ photo3_url }}" alt="" style="height: 100px;width: 150px;">
                                    <span>{{ products.description_3 }}</span>
                                </div>
                            {% endif %}
                      </div>&nbsp; &nbsp;

                </div>
                <div class="col-lg-3">
                        <div>
                            {% if photo4_url is not  None %}
                                <div>
                                    <img src="{{ photo4_url }}" alt="" style="height: 100px;width: 150px;">
                                    <span>{{ products.description_4 }} </span>
                                </div>
                            {% endif %}
                      </div>&nbsp; &nbsp;
                        <div >
                            {% if photo5_url is not  None %}
                                <div>
                                    <img src="{{ photo5_url }}" alt="" style="height: 100px;width: 150px;">
                                    <span>{{ products.description_5 }}</span>
                                </div>
                            {% endif %}
                      </div>
{#                    </blockquote>#}
                </div>
                </div>
            </div>

            <!-- Share & Tags -->
            <div class="share-tags d-flex flex-wrap align-items-center justify-content-between">
              <!-- Share -->
              <div class="share-post d-flex align-items-center">
                <span>Share This post:</span>
                <!-- Share Icons -->
                <div class="share-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
              </div>
              <!-- Tags -->
              <ul class="famie-tags">
                <li><a href="{% url 'home:product' 1 1 %}">All product</a></li>
                <li><a href="#">Freshy Fruit</a></li>
                <li><a href="#">Sweet Corn</a></li>
              </ul>
            </div>
          </div>

          <!-- Post Author -->
          <div class="post-author-area d-flex align-items-center">
            <div class="post-author-img">
              <img src="{% static 'home/img/bg-img/38.jpg' %}" alt="">
            </div>
            <div class="post-author-description">
              <a href="#">
                <h5>Peter Crough</h5>
              </a>
              <p>Duis tincidunt turpis sodales, tincidunt nisi et, auctor nisigama. Curabitur vulputate sapien espanyol metusi ultricies fermentum necvelpa.
                Maecenas eget lacinia est molestie ligula, et euismod auctor. </p>
            </div>
          </div>

          <!-- Comment Area Start -->
          <div class="comment_area clearfix mb-50">

            <!-- Title -->
            <h3 class="mb-50">3 Comments</h3>

            <ul>
              <!-- Single Comment Area -->
              <li class="single_comment_area">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                  <!-- Comment Author -->
                  <div class="comment-author">
                    <img src="{% static 'home/img/bg-img/31.jpg' %}" alt="author">
                  </div>
                  <!-- Comment Meta -->
                  <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Diego Simeone</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                    <a href="#" class="reply">Reply</a>
                  </div>
                </div>

                <ol class="children">
                  <li class="single_comment_area">
                    <!-- Comment Content -->
                    <div class="comment-content d-flex">
                      <!-- Comment Author -->
                      <div class="comment-author">
                        <img src="{% static 'home/img/bg-img/32.jpg' %}" alt="author">
                      </div>
                      <!-- Comment Meta -->
                      <div class="comment-meta">
                        <a href="#" class="comment-date">27 Aug 2019</a>
                        <h6>Susie Martha</h6>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                        <a href="#" class="reply">Reply</a>
                      </div>
                    </div>
                  </li>
                </ol>
              </li>

              <!-- Single Comment Area -->
              <li class="single_comment_area">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                  <!-- Comment Author -->
                  <div class="comment-author">
                    <img src="{% static 'home/img/bg-img/33.jpg' %}" alt="author">
                  </div>
                  <!-- Comment Meta -->
                  <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Jonny Evans</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                    <a href="#" class="reply">Reply</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Post A Comment Area -->
          <div class="post-a-comment-area">

            <!-- Title -->
            <h3 class="mb-50">Leave A Reply</h3>

            <!-- Reply Form -->
            <div class="contact-form-area">
{#              <form action="{% url 'home:customer_save' %}" method="post">#}
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name*">
                  </div>
                  <div class="col-12 col-lg-6">
                    <input type="email" class="form-control" id="email"  name="email" placeholder="Your Email*">
                  </div>
                    <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Your Phone Number*">
                  </div>
                  <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Your Address*">
                  </div>
                  <div class="col-12">
                    <textarea name="message" class="form-control" id="message" placeholder="Message*"></textarea>
                  </div>
                  <div class="col-12">
                    <button class="btn famie-btn mt-30" type="submit">Submit Comment</button>
                  </div>
                </div>
{#              </form>#}
            </div>
          </div>

        </div>
      </div>
    </div>
      </form>
  </section>
  <!-- ##### News Details Area End ##### -->
{% endblock content %}