{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- ##### Shop Area Start ##### -->
  <section class="shop-area section-padding-0-100">
  {% csrf_token %}
    <div class="container">

{#      <div class="row">#}
{#        <!-- Shop Filters -->#}
{#        <div class="col-12">#}
{#          <div class="shop-filters mb-30 d-flex align-items-center justify-content-between">#}
{#            <!-- Product Show -->#}
{#            <div class="product-show">#}
{#              <h6>Showing 1–9 of 72 results</h6>#}
{#            </div>#}
{##}
{#            <!-- Product View Mode -->#}
{#            <div class="produtc-view-mode">#}
{#              <a href="#"><i class="fa fa-th"></i></a>#}
{#              <a href="#"><i class="fa fa-list-ul"></i></a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div class="row">
        <!-- Shop Sidebar Area -->
        <div class="col-12 col-md-4 col-lg-2">

{#          <!-- Shopping Cart -->#}
{#          <div class="shopping-cart mb-50">#}
{#            <h5 class="mb-30">Shopping Cart</h5>#}
{#            <!-- Cart Table -->#}
{#            <div class="cart-table clearfix">#}
{#              <table class="table table-responsive">#}
{#                <!-- tbody -->#}
{#                <tbody>#}
{#                  <!-- Single Table Row -->#}
{#                  <tr>#}
{#                    <td class="cart_product_img">#}
{#                      <a href="#"><img src="{% static 'img/bg-img/34.jpg' %}" alt="Product"></a>#}
{#                    </td>#}
{#                    <td class="cart_product_desc">#}
{#                      <p>Bayonne Ham</p>#}
{#                      <h6>1 x $39.99</h6>#}
{#                    </td>#}
{#                    <td class="pro-close">#}
{#                      <a href="#"><i class="icon_close"></i></a>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <!-- Single Table Row -->#}
{#                  <tr>#}
{#                    <td class="cart_product_img">#}
{#                      <a href="#"><img src="{% static 'img/bg-img/35.jpg' %}" alt="Product"></a>#}
{#                    </td>#}
{#                    <td class="cart_product_desc">#}
{#                      <p>Bayonne Ham</p>#}
{#                      <h6>1 x $39.99</h6>#}
{#                    </td>#}
{#                    <td class="pro-close">#}
{#                      <a href="#"><i class="icon_close"></i></a>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <!-- Single Table Row -->#}
{#                  <tr>#}
{#                    <td class="cart_product_img">#}
{#                      <a href="#"><img src="{% static 'img/bg-img/36.jpg' %}" alt="Product"></a>#}
{#                    </td>#}
{#                    <td class="cart_product_desc">#}
{#                      <p>Bayonne Ham</p>#}
{#                      <h6>1 x $39.99</h6>#}
{#                    </td>#}
{#                    <td class="pro-close">#}
{#                      <a href="#"><i class="icon_close"></i></a>#}
{#                    </td>#}
{#                  </tr>#}
{#                </tbody>#}
{#              </table>#}
{#            </div>#}
{#            <!-- SubTotal -->#}
{#            <div class="cart-summary d-flex align-items-center justify-content-between">#}
{#              <div class="sub-total">#}
{#                <h6>SUBTOTAL</h6>#}
{#              </div>#}
{#              <div class="total-price">#}
{#                <h6>$52.99</h6>#}
{#              </div>#}
{#            </div>#}
{#            <!-- Checkout -->#}
{#            <a href="#" class="btn famie-btn checkout-btn mt-30 w-100">Checkout</a>#}
{#          </div>#}

   <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">Catagories</h5>
            <!-- Cata List -->
          <nav>
            <ul class="cata-list shop-page">
                {% for menu in sidemenu %}
                    <li>
                        <a  class="toggle" href="#" style="font-weight: bold; color: darkgreen; font-size: large">{{ menu.parent }}</a>
                        <div class="toggle-content" id="sub" style="padding: 0px 0px 0px 10px">
                         {% if menu.child %}
                        <ul>
                        {% for menuchild in menu.child %}
                            <li>
                                <a href="{% url 'home:productshow' menu.parent.id menuchild.id %}" style="color: forestgreen" >{{ menuchild.name }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    </li>
                {% endfor %}


            </ul>
          </nav>
              <div >
{#              9/6 #}
{#  <div class="row">#}
{#    <div class="col-md-8">#}
{##}
{#      <div id="MainMenu">#}
{#        <div class="list-group panel">#}
{#            {% for menu in sidemenu %}#}
{#          <a href="#" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">{{ menu.parent }}</a>#}
{#           {% if menu.child %}#}
{#            <div class="collapse dropdown" id="child">#}
{#               {% for menuchild in menu.child %}#}
{#                    <a href="{% url 'home:productshow' menu.parent.id menuchild.id %}" class="list-group-item" >{{ menuchild.name }} </a>#}
{#                {% endfor %}#}
{##}
{#          </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#              9/6#}
</div>

          </div>
{#testing #}
{#        <nav id="MainMenu" class="col-md-8">#}
{#        <ul>#}
{#            {%for menu in sidemenu %}#}
{#            <li>#}
{#                <a href="#child" class="list-group-item list-group-item-success menu-item-parent" data-toggle="collapse" data-parent="#MainMenu">{{ menu.parent.name }}</a>#}
{#				{% if menu.child %}#}
{#                <ul class="collapse dropdown" id="child">#}
{#				{% for menuchild in menu.child %}#}
{#                    <li>#}
{#                        <a href="{% url 'home:productshow' menu.parent.id menuchild.id %}" class="list-group-item" data-toggle="collapse">{{ menuchild.name }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#                </ul>#}
{#				{% endif %}#}
{#            </li>#}
{#         {%endfor %}#}
{##}
{#        </ul>#}
{#    </nav>#}
{#        #}
        </div>

        <!-- Shop Products Area -->
      <div id="imgcontent" class="col-12 col-lg-10">
          {% block imgcontent %}

          {% endblock %}
      </div>
{#      product show #}
{#        <div class="col-12 col-md-8 col-lg-9">#}
{#          <div class="row">#}
{#           <!-- Single Product Area -->#}
{#    {% for product in products %}#}
{#        <div class="col-12 col-sm-6 col-lg-4">#}
{#            <!-- Cart Table -->#}
{#            <div class="cart-table clearfix">#}
{#              <table class="table table-responsive">#}
{#                <!-- tbody -->#}
{#                <tbody>#}
{#                  <!-- Single Table Row -->#}
{#                  <tr>#}
{#                    <td class="cart_product_img">#}
{#                      <a href="#">#}
{#                        <img class="picture-src" src="{{ product.photo_1.url }}" id="wizardPicturePreview"#}
{#                                             style="width: 50px; height: 50px;">#}
{#                      </a>#}
{#                    </td>#}
{#                    <td class="cart_product_desc">#}
{#                      <p>{{ product.name }}</p>#}
{##}
{#                        <a href="{% url 'home:productdetail' product.id %}">{{ product.std_cert }}</a>#}
{#                    </td>#}
{##}
{#                  </tr>#}
{##}
{#                  <!-- Single Table Row -->#}
{#                  <tr>#}
{#                    <td class="cart_product_img">#}
{#                      <a href="#"><img src="{% static 'img/bg-img/35.jpg' %}" alt="Product"></a>#}
{#                    </td>#}
{#                    <td class="cart_product_desc">#}
{#                      <p>Bayonne Ham</p>#}
{#                      <h6>1 x $39.99</h6>#}
{#                    </td>#}
{#                    <td class="pro-close">#}
{#                      <a href="#"><i class="icon_close"></i></a>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <!-- Single Table Row -->#}
{#                  <tr>#}
{#                    <td class="cart_product_img">#}
{#                      <a href="#"><img src="{% static 'img/bg-img/36.jpg' %}" alt="Product"></a>#}
{#                    </td>#}
{#                    <td class="cart_product_desc">#}
{#                      <p>Bayonne Ham</p>#}
{#                      <h6>1 x $39.99</h6>#}
{#                    </td>#}
{#                    <td class="pro-close">#}
{#                      <a href="#"><i class="icon_close"></i></a>#}
{#                    </td>#}
{#                  </tr>#}
{#                </tbody>#}
{#              </table>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#          </div>#}
{##}
{#          <!-- Pagination -->#}
{#          <nav>#}
{#            <ul class="pagination mb-0 mt-50">#}
{#              <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#              <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#              <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>#}
{#            </ul>#}
{#          </nav>#}
{#        </div>#}
{#      end product show #}
      </div>

    </div>
  </section>
  <!-- ##### Shop Area End ##### -->
    <script>
        {#function sideSubMenu(){#}
        {#    var x = document.getElementById("sub");#}
        {##}
        {#    if (x.hidden == true)#}
        {#        x.hidden = false;#}
        {#    else#}
        {#        x.hidden = true#}
        {#}#}
           var show = function (elem) {
                elem.style.display = 'block';
            };
            var hide = function (elem) {
                elem.style.display = 'none';
            };
            var toggle = function (elem) {
                // If the element is visible, hide it
                if (window.getComputedStyle(elem).display === 'none') {
                    show(elem);
                    return;
                }
                // Otherwise, show it
                hide(elem);
            };
// Listen for click events
            document.addEventListener('click', function (event) {
                // Make sure clicked element is our toggle
                if (!event.target.classList.contains('toggle')) return;
                // Prevent default link behavior
                event.preventDefault();
                // Get the content
                var content = document.querySelector(event.target.hash);
                if (!content) return;
                // Toggle the content
                toggle(content);
            }, false);
    </script>
{% endblock content %}